<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections />
  <connectionStrings>
    <!--<add name="conStr" connectionString="Data Source=AKS-PC;Initial Catalog=BookDb2;Integrated Security=True;User ID=sa;Password=aks1521;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->
    <!--<add name="conStr" connectionString="Data Source=upsidc;Initial Catalog=upsida;Integrated Security=True"/>-->
    <add name="conStr" connectionString="Data Source=103.145.50.232,1433; Network Library=DBMSSOCN;Initial Catalog=NarendraTest; User ID=sa;Password=$*su^!18#22!K@1;Connect Timeout=60" />
    <!--Staging-->
    <!--<add name="conStr" connectionString="Data Source=103.148.157.121,1433; Network Library=DBMSSOCN;Initial Catalog=BookDb2_staging; User ID=sa;Password=$*su^!18#22!K@1;Connect Timeout=30" />-->
    <!--Staging-->
    <!--Live
    <add name="conStr" connectionString="Data Source=103.148.157.121,1433; Network Library=DBMSSOCN;Initial Catalog=BookDb2; User ID=sa;Password=$*su^!18#22!K@1;Connect Timeout=30" />
    -->
    <!--<add name="conStr" connectionString="Data Source=IN2242842W1;Initial Catalog=BookDb2;Integrated Security=True" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="500000" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpModules />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.1.0" newVersion="18.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Dist_updation_after_land_allotmt_By_DptSoap" />
        <binding name="upswp_niveshmitraservicesSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Dist_updation_after_land_allotmt_By_DptSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="upswp_niveshmitraservicesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://niveshmitra.up.nic.in/Dist_updation_after_land_allotmt_By_Dpt.asmx" binding="basicHttpBinding" bindingConfiguration="Dist_updation_after_land_allotmt_By_DptSoap" contract="NMSWP_DistrictUpdate.Dist_updation_after_land_allotmt_By_DptSoap" name="Dist_updation_after_land_allotmt_By_DptSoap" />
      <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="ServiceReference1.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />
      <!--<endpoint address="http://72.167.225.87/testing_nmswp/Dist_updation_after_land_allotmt_By_Dpt.asmx"
        binding="basicHttpBinding" bindingConfiguration="Dist_updation_after_land_allotmt_By_DptSoap"
        contract="NMSWP_DistrictUpdate.Dist_updation_after_land_allotmt_By_DptSoap"
        name="Dist_updation_after_land_allotmt_By_DptSoap" />-->
      <!--<endpoint address="http://72.167.225.87/testing_nmswp/Dist_updation_after_land_allotmt_By_Dpt.asmx"
        binding="customBinding" bindingConfiguration="Dist_updation_after_land_allotmt_By_DptSoap12"
        contract="NMSWP_DistrictUpdate.Dist_updation_after_land_allotmt_By_DptSoap"
        name="Dist_updation_after_land_allotmt_By_DptSoap12" />-->
      <!--<endpoint address="http://72.167.225.87/testing_nmswp/upswp_niveshmitraservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap"
        contract="ServiceReference1.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />-->
      <!--<endpoint address="http://72.167.225.87/testing_nmswp/upswp_niveshmitraservices.asmx"
        binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12"
        contract="ServiceReference1.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>