<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit"/>
  </configSections>
  <system.web>
    <!--<pages enableEventValidation="false"/>-->
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="2400" maxRequestLength="1048576" />
    <!--
    <httpRuntime targetFramework="4.5" executionTimeout="2400" maxRequestLength="1048576" enableVersionHeader="false"/>
    -->
    <pages maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
   <!--> <sessionState timeout="100000" mode="InProc" /> -->

    <!--<sessionState timeout="200" mode="InProc" sqlConnectionString="Data Source=IN2242842W1;Initial Catalog=BookDb2;Integrated Security=True" />-->
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="true" />
    <!--<customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>-->
    <customErrors mode="On" defaultRedirect="error.aspx">
      <!-- <error statusCode="403" redirect="error.aspx" />  
      <error statusCode="404" redirect="error.aspx" />  
      <error statusCode="500" redirect="error.aspx" />  -->
    </customErrors>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <location path="draw">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add name="CADHandler" path="*" verb="*" type="WebCAD.CADHandler" />
      </handlers>
     <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    </system.webServer>
    <system.web>
      <xhtmlConformance mode="Transitional" />
      <httpHandlers>
        <add path="*" verb="*" type="WebCAD.CADHandler" />
      </httpHandlers>
    </system.web>
  </location>
  <connectionStrings>
    
    <!--Staging -->
    <!--<add name="conStr" connectionString="Data Source=103.148.157.121,1433; Network Library=DBMSSOCN;Initial Catalog=BookDb2_staging;User ID=sa;Password=$*su^!18#22!K@1;MultipleActiveResultSets=true" providerName="System.data.sqlclient"/>-->
    <!--Staging -->
    
    <!--LIVE
    <add name="conStr" connectionString="Data Source=103.148.157.121,1433; Network Library=DBMSSOCN;Initial Catalog=BookDb2;User ID=sa;Password=$*su^!18#22!K@1;MultipleActiveResultSets=true" providerName="System.data.sqlclient"/>
    -->
    <add name="conStr" connectionString="Data Source=103.145.50.232,1433; Network Library=DBMSSOCN;Initial Catalog=BookDb2; User ID=sa;Password=$*su^!18#22!K@1;Connect Timeout=60" /> 
    <!--<add name="conStr" connectionString="Data Source=AKS-PC;Initial Catalog=BookDb2;Integrated Security=True;User ID=sa;Password=aks1521;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->
    <!-- <add name="conStr" connectionString="Data Source=DESKTOP-4AAE281;Initial Catalog=BookDb2_Staging;Integrated Security=True" /> -->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
  </appSettings>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--Clickjacking security-->
        <add name="X-Frame-Options" value="DENY"/>
        <!--End clickjacking-->
        <!--Cache Controlling-->
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, private"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="-1"/>
        <!-- End Cache controlling-->
        <!--Banner grabbing-->
        <remove name="X-Powered-By"/>
        <remove name="X-AspNetMvc-Version"/>
        <!--End of Banner  grabbing-->
        <!--Security Header-->
        <!-- <add name="Content-Security-Policy" value="default-src 'self'; font-src *;img-src * data:; script-src *; style-src *;" />-->
        <add name="Expect-CT" value="enforce, max-age=43200"/>
        <add name="Content-Security-Policy" value="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' http://* data:;"/>
        <add name="Feature-Policy" value="fullscreen 'none'"/>
        <add name="Permissions-Policy" value="fullscreen=()"/>
        <add name="Referrer-Policy" value="no-referrer"/>
        <!--<add name="Strict-Transport-Security" value="max-age=31536000000; includeSubDomains; preload" />-->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!--<add name="Content-Security-Policy" value="default-src 'self'" />-->
        <!--End Security Header-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ModSecurity IIS (64bits)"/>
      <remove name="ModSecurity IIS (32bits)"/>
    </modules>
  </system.webServer>
  <system.webServer>
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/error.aspx" responseMode="Redirect"/>
    </httpErrors>-->
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <clear />
        <rule name="AddSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=lax" />
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; secure SameSite=lax" negate="true" />
          </preCondition>
        </preConditions>
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
          <add verb="DELETE" allowed="false"/>
          <add verb="TRACK" allowed="false"/>
          <add verb="TRACE" allowed="false"/>
          <add verb="PUT" allowed="false"/>
          <add verb="DEBUG" allowed="false"/>
        </verbs>
        
        
        
        <hiddenSegments>
      <add segment="doc"/>
      <add segment="LogisticAndWareHousing"/>
      <add segment="LAWCorrespondenceLetters"/>
    
    
    
      <add segment="OfficeOrders"/>
    <add segment="ProceedingDocuments"/>
      <add segment="TrackApplication"/>
      <add segment="SignedLeaseDeed"/>
      
      <add segment="AppcntDoc"/>
      <add segment="OfcUser_pdf"/>
      <add segment="pdf"/>
      <add segment="pdf2"/>
      <add segment="Users"/>
     
    </hiddenSegments>
      
    
  
  
    
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="upswp_niveshmitraservicesSoap"/>
        <binding name="Dist_updation_after_land_allotmt_By_DptSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="upswp_niveshmitraservicesSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="Dist_updation_after_land_allotmt_By_DptSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>

      <endpoint address="http://72.167.225.87/nivesh/Dist_updation_after_land_allotmt_By_Dpt.asmx" binding="basicHttpBinding" bindingConfiguration="Dist_updation_after_land_allotmt_By_DptSoap" contract="NMSWP_DistrictUpdate.Dist_updation_after_land_allotmt_By_DptSoap" name="Dist_updation_after_land_allotmt_By_DptSoap" />
      <endpoint address="http://72.167.225.87/nivesh/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="ServiceReference1.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />
      
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-20.1.0.0" newVersion="20.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer"/>
</configuration>